<div class="card">
 
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="email-input-login" id="email-label">Email</label>
      <input type="text" id="email-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label" id="password-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <br>
  <div class="col-12" id="login-buttons">
    <button type="submit" class="btn btn-primary" id = "loginBtn">Login</button>
    {{!-- <button type="button" onclick="location.href='/signup'" class="btn btn-success" id = "signUpBtn">Sign Up</button> --}}
  </div>
  </form>

  <section>
    <h5 id="covidSafety">
      Just a friendly reminder to all that face masks are still required at our check-in and distribution windows.
We encourage mask wearing during all times while waiting for your groceries too. Thanks for helping to keep us all safe. 
    </h5>
  </section> 
</div>

<script src="/js/login.js"></script>