
<div class="card">
    <div class="card-body">
        <h3 id="processing-h3">Order is in processing...</h3>
    </div>
    <section>
    <h5 id="covidSafety">
      Just a friendly reminder to all that face masks are still required at our check-in and distribution windows.
We encourage mask wearing during all times while waiting for your groceries too. Thanks for helping to keep us all safe. 
    </h5>
  </section>
</div>

